	<mat-toolbar>
		<img src="./img/lifelike-logo.png" class="logo"/>
	</mat-toolbar>

<section class="container">
	<div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1%" fxLayoutAlign="center center">
		<div fxFlex="25%">
			<mat-card class="cbf-card">
        <mat-card-title class="cbf-card-title">Project Management</mat-card-title>
        <mat-card-content>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					</p>
				</mat-card-content>
				<mat-card-actions>
					<button mat-button><a href="#" title="Special Content" (click)="openDialog()">Open Modal</a></button>
          <button mat-fab class="cfb-card-btn"><mat-icon>arrow_forward</mat-icon></button>
        </mat-card-actions>
      </mat-card>
    </div>
    
  </div>


  </section>
