@import '~@angular/material/prebuilt-themes/indigo-pink.css';

*{
  margin:0;
  padding:0;
}

/* Angular Material Override */
.mat-display-1 {
  font-weight:100;
  font-size:3em;
}

.mat-card-header-text {
  margin:0;
}

.mat-fab.mat-accent{
  background-color: #0960af;
}

/* CFB Custom Css */
body {
  font-family: "seravek-web",sans-serif;
  background-color:#f0f7ff;
  min-height:100vh;
  background-image: url('https://cdn.jsdelivr.net/gh/oneforstudio/oneforstudio-BTU@master/src/app/img/lifelike_Menu_BG.jpg') ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

h1,
h2,
h3,
h4,
h5,
p,
a,
.mat-display-1 {
  font-family: "seravek-web",sans-serif;
}

.mat-toolbar, .mat-toolbar-single-row {
  background-color: transparent;
  height:100%;
}

.container {
  width:90%;
  margin:auto;
  padding-top:14vh;
}

.logo {
  display:flex;
  height:14vh;
  width: auto;
  padding-top:10vh;
  /*margin: 0 auto;*/
}

 .cbf-card {
   margin-bottom:2vh;
   min-height:30vh;
   color: #404040;

 }
 .cbf-card:hover{
   background-color:#f8f8f8;
   cursor:pointer;
    -webkit-transition: all ease .4;
    -moz-transition: all ease .4s;
   transition: all ease .4s;
 }

a {
  color: #0960af;
}

.cbf-card-title {
  font-family: "seravek-web",sans-serif;
  color: #0960af;
  font-weight:300;
  font-size:3vh;
  padding-top:2%;
  padding-bottom:8%;
}

.mat-card-actions {
  position:absolute;
  top:25vh;
  width:calc(100% - 14vh);
}

.cfb-card-btn {
  float:right;
}

.cfb-card-btn:hover {
  background-color:#318dc6;
  -webkit-transition: all ease .4;
  -moz-transition: all ease .4s;
 transition: all ease .4s;
}

.cdk-global-overlay-wrapper {
  justify-content: center;
  align-items: center;
}
.flex {
  flex: 1 1 auto;
}

@media (max-width: 600px) {
  .logo {
  display:flex;
  height:10vh;
  width: auto;
  padding-top:10vh;
  /*margin: 0 auto;*/
  transition: height ease .6s;
}

}