@import '~@angular/material/prebuilt-themes/indigo-pink.css';

/* Angular Material Override */
.mat-display-1 {
  font-weight:100;
  font-size:3em;
}
.mat-card-header-text {
  margin:0;
}

.mat-fab.mat-accent{
  background-color: #0960af;
}

/* CFB Custom Css */
body {
  font-family: seravek-web, sans-serif;
  background-image: url('./img/lifelike_Menu_BG.jpg') ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color:#f0f7ff;
  height:100%;
}

h1,
h2,
h3,
h4,
h5,
p,
a,
.mat-display-1 {
  font-family: seravek-web, sans-serif;
}


.container {
  width:90%;
  margin:auto;
  padding-top:4%;
}

 .cbf-card {
   margin-bottom:2vh;
   min-height:30vh;

 }
 .cbf-card:hover{
   background-color:#f8f8f8;
   cursor:pointer;
    -webkit-transition: all ease .4;
    -moz-transition: all ease .4s;
   transition: all ease .4s;
 }

a {
  color: #0960af;
}

.cbf-card-title {
  font-family: 'IBM Plex Sans', sans-serif;
  color: #0960af;
  font-weight:300;
  font-size:2em;
}

.mat-card-actions {
  position:absolute;
  bottom:0;
  top:25vh;
}

.cfb-card-btn {
  position:absolute;
  left:100%;
  right:0;
  /*top:34px;*/
  color:#f5f5f5;
  padding:0;
  margin:0;
}

.cfb-card-btn:hover {
  background-color:#318dc6;
  -webkit-transition: all ease .4;
  -moz-transition: all ease .4s;
 transition: all ease .4s;
}
